body{
    padding: 0px;
    display: flex;
}

.uno{
    border: 2px solid black;
    width: 15rem;
    height: 25rem;
    gap: 0.5rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
}
 .elemento1{
   background-color: red;
   flex-grow: 1;
 }
 .elemento2{
    background-color:blue;
    flex-grow: 1;
  }
  .elemento3{
    background-color:green;
    flex-grow: 1;
  }

  @media (max-width:640px){
    .uno{
        flex-direction:row;
    }
    body{
     flex-direction: column-reverse;
       min-height: 100vh;
    }

  }